body {
    background-image: (url(/images/Background\ Exercise.jpg));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
}
h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#calorie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#calorie-form button {
    margin-top: 20px;
}

.exercise-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#result {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

#Monday_Select {
    margin-bottom: 40px;
}

#Monday_Result {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.result-entry {
    flex: 1 1 200px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #f9f9f9;
}

#container3 {
    display: flex;
    justify-content: space-evenly;
};

#container2 {
    display: flex;
    justify-content: space-evenly;
};

#Day {
    width: calc(100% 7 - 20px);
    box-sizing: border-box;
}

@media (max-width: 1020px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    } 
    #Day {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
}